<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= require('./partial/person.html').default %>
    <div class="uk-container my-class-main">
      <div class="main-menu">
        <%= require('./partial/menu.html').default %>
      </div>      
      <div class="uk-grid-medium uk-margin-medium-top" uk-grid>        
        <div class="uk-width-3-3">
          <h2>Famous People</h2>
          <lazy-list id="lazy-list" class="uk-margin-large-bottom"></lazy-list>          
        </div>        
      </div>      
    </div>    
  </body>
</html>