<template id="person-template">
  <div
    id="site-b"
    class="uk-card uk-card-body uk-card-default uk-card-hover uk-margin-medium-bottom"
  >
    <h3 class="person-name uk-margin-small-bottom"></h3>
    <div class="person-keywords uk-margin-medium-bottom">
      <span class="person-continent uk-label"></span>
      <span class="person-country uk-label"></span>
      <span class="person-city uk-label"></span>
    </div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand" uk-leader>Birth Year</div>
      <div class="person-year"></div>
    </div>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-expand" uk-leader>Industry</div>
      <div class="person-industry"></div>
    </div>
    <div class="uk-grid-small uk-margin-medium-bottom" uk-grid>
      <div class="uk-width-expand" uk-leader>Occupation</div>
      <div class="person-occupation"></div>
    </div>
    <a
      class="person-geo-link uk-button uk-button-default"
      href=""
      target="_blank"
      >Go to map</a
    >
  </div>
</template>
